* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --theme-color: #e40000;
  --primary-color: #0d369f;
  --primary-light: #fcf1e7;
  --primary-dark: #ffc945;
  --secondary-color: #ff6e65;
  --font-color: #707070;
  --bg-color: #fff;
  --bg-color-2: #fff;
  --heading-color: #060606;
  --footer-color: #060e1f;
  --footer-cpy-color: #040a17;
  --border-radius: 30px;
  --border-radius-full: 15px;
  --border-color: transparent;
  --border-color-light: #eee;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f9f9f9;
  --bg-light: #f8f9ff;
  --bg-dark-color: #fff;
  --quote-text-color: #1d2c4c;
  --paceholder-color-search: #6c757d;
  --bg-color-li: rgb(13 54 159 / 9%);
  --box-shadow-color: rgb(4 20 69 / 10%);
  --logo-color: #0d369f;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: var(--font-color);
  letter-spacing: 0.4px;
}

li {
  list-style-type: none;
}

a,
a:hover,
button,
i,
button:hover {
  text-decoration: none;
  transition: 0.5s all;
}
/* container */
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* //container */
/* btn-style */
.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.25s ease-in-out;
}
.btn-style:hover,
.btn-style-secondary {
  background: var(--secondary-color);
  color: #fff;
  transition: 0.3s ease-out;
}
.btn-style-secondary:hover {
  background: var(--primary-color);
  color: #fff;
  transition: 0.3s ease-out;
}
/* //btn-style */
/* title */
.title {
  max-width: 700px;
  padding-bottom: 1.5rem;
  margin: 0 auto 3rem;
}

h3.title-main,
h3.title-main-2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Montserrat", sans-serif;
}

h3.title-main:before,
h3.title-main:after {
  content: "";
  background: var(--font-color);
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
h3.title-main span {
  color: var(--secondary-color);
}
h3.title-main:before {
  left: -20px;
  bottom: -8px;
}
h3.title-main:after {
  left: 20px;
  bottom: -15px;
}

.btn-style-primary {
  color: var(--secondary-color);
  padding: 0;
  background: transparent;
  font-size: 14px;
}
/* //title */
/* ____________________________________________________________ */
/* top header */
.top-header {
  background-color: var(--primary-color);
}

.top-header .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header .container-fluid ul {
  display: flex;
  margin: 1rem 0;
}

.top-header .container-fluid li {
  margin-right: 30px;
}

.top-header .container-fluid li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.top-header .container-fluid li i {
  color: #fff;
}

.top-header li a:hover,
.top-header li i:hover {
  color: var(--secondary-color);
}

@media only screen and (max-width: 991px) {
  .top-header {
    display: none;
  }
}
/* //top header */
/* header */
header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 999 !important;
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
}

header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
  box-shadow: none;
  border-radius: 0px;
  padding: 0.5rem 1rem;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: var(--logo-color);
  font-weight: 600;
}

.navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-nav .nav-link {
  padding: 6px 0;
  font-size: 16px;
  color: var(--heading-color);
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.search-box {
  margin: 0 10px;
}

.input-search .search-popup {
  font-size: 15px;
  color: var(--heading-color);
  border: none;
  background: transparent;
  padding: 10px 35px 10px 14px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}
.input-search .search-btn {
  position: absolute;
  color: var(--primary-color);
  right: 0;
  padding: 8px 12px 8px 2px;
}

.navbar-nav .dropdown-menu {
  transform: translateX(-50px);
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}
.navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
a.dropdown-item {
  font-size: 16px;
  color: var(--heading-color);
  padding: 5px 24px;
  font-weight: 600;
  text-transform: uppercase;
}
a.dropdown-item:hover {
  color: var(--secondary-color);
}

@media only screen and (max-width: 991px) {
  header {
    background: var(--bg-color);
    height: auto;
  }

  .fixed-top {
    position: fixed;
  }

  .navbar {
    padding: 0.5rem 0rem;
  }

  .navbar-nav {
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    background: var(--bg-color);
    padding: 20px;
    margin-top: 16px;
    box-shadow: 0 6px 19px rgba(0, 0, 0, 0.05);
  }

  .navbar-nav .nav-link {
    padding: 2px 10px;
    text-align: center;
    font-size: 15px;
    display: block;
  }

  .navbar-nav .nav-item {
    padding: 8px 0;
  }

  .navbar-nav .dropdown-menu {
    transform: translateX(0px);
    border: 1px solid var(--border-color-light);
    background: var(--bg-color);
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
    text-align: center;
  }

  .navbar-toggler .icon-expand {
    display: block;
  }

  .navbar-toggler-icon.fa {
    font-size: 20px;
    color: #fff;
    background: var(--primary-color);
    line-height: 34px;
  }
  .navbar-toggler-icon {
    padding: 0;
    width: 34px;
    height: 34px;
    border-radius: 4px;
    text-align: center;
  }

  .search-box {
    width: 220px;
    margin: auto;
  }
}
@media only screen and (max-width: 1080px) {
  .navbar-nav .nav-link {
    padding: 6px 6px;
    font-size: 14px;
  }
}

/* //header */
/* banner */
#carouselExampleCaptions {
  position: relative;
}

.carousel-item {
  min-height: 90vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.carousel-item::before {
  content: "";
  background: linear-gradient(
    75deg,
    rgb(16 16 16 / 34%) 10%,
    rgb(230 2 100 / 0%)
  );
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.carousel-item > .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-item .banner-info {
  margin: 0 auto;
}

.carousel-item:nth-child(1) {
  background-image: url(./img/banner2.jpg);
}
.carousel-item:nth-child(2) {
  background-image: url(./img/banner3.jpg);
}
/* banner info */
.banner-info-bg {
  max-width: 600px;
}
.banner-info-bg h5 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
}
/* //banner info */
.carousel-indicators {
  right: 24px;
  bottom: 120px;
  left: auto;
  background: none;
  width: 24px;
  height: 48px;
  margin: 0;
  display: block;
}

.carousel-indicators li {
  margin: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 0;
  padding: 3px;
}

.carousel-indicators li.active {
  background: var(--secondary-color);
}

@media only screen and (max-width: 1200px) {
  .banner-info-bg h5 {
    font-size: 57px;
    line-height: 67px;
  }
}
@media screen and (max-width: 992px) {
  .banner-info-bg h5 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .banner-info-bg h5 {
    font-size: 45px;
    line-height: 55px;
  }
}
@media screen and (max-width: 415px) {
  .banner-info-bg h5 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 366px) {
  .banner-info-bg h5 {
    font-size: 38px;
    line-height: 48px;
  }
}

/* //banner */
/* service */
#service {
  position: relative;
  margin-top: -4em;
}

.area-box {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background-color: var(--bg-color);
}

.area-box.color-1 {
  background-color: #037ef3;
}
.area-box.color-2 {
  background-color: #ffc949;
}
.area-box.color-3 {
  background-color: #ff4f81;
}
.area-box.color-4 {
  background-color: #1ee697;
}

.area-box i {
  font-size: 45px;
  color: #fff;
}

h4 a.title-head {
  margin-top: 25px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

a.title-head:hover {
  color: #000;
}
/* //service */
/* welcome */
.welcome__content-images span {
  color: var(--primary-color);
  font-size: 30px;
  background: var(--bg-color-li);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}

h3.info-title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}
/* //welcome */
/* course */

/* //course */
.course {
  background: var(--bg-light);
}

.course__card {
  border-radius: 10px;
}

.course__card:hover {
  box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
  transition: all 0.5s ease;
  transform: translateY(-3px);
}

.course__card-img {
  position: relative;
}

.course__card-img img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.course__card-img .info-list {
  position: absolute;
  top: 15px;
  left: 30px;
}

.info-list a {
  background: #1dc295;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  color: #ffffff !important;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 5px;
}

.info-list a:nth-child(odd) {
  background-color: #ffa100;
}
.meta-list a:nth-child(3) {
  background: #037ef3;
}

.course-price-item {
  position: absolute;
  right: 25px;
  bottom: -15px;
}

.course__card-info {
  padding: 20px;
  border: 1px solid var(--border-color-light);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--bg-color-2);
}

.info-header li i {
  color: var(--secondary-color);
}

.course-price-item h6 {
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: var(--secondary-color);
  color: #ffffff;
  box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
  min-width: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-body h4 a {
  color: var(--heading-color);
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}

.info-body h4 a:hover {
  color: var(--secondary-color);
}

ul.rating-list li a {
  color: #ffc949;
  font-size: 15px;
}
.info-footer {
  border-top: 1px solid var(--border-color-light);
}

.info-footer .btn-style-primary:hover {
  color: var(--primary-color);
  background: transparent;
}
/* //course */
/* classtype */
.classtype {
  background-image: url(./img/bg3.jpg);
  background-position: center;
  background-size: cover;
}

.feature-gd {
  background: var(--bg-color);
  padding: 30px;
  border-radius: 8px;
}
/* //classtype */
.classtype .col-xl-4 {
  width: 33.33%;
}
.classtype .col-xl-8 {
  width: 66.66%;
}

.classtype_card {
  background: var(--bg-color);
  padding: 30px;
  border-radius: 8px;
  align-items: center;
}

.icon {
  margin-right: 1rem;
}

.icon i {
  background: var(--primary-color);
  color: var(--primary-color);
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
}

.icon-info h5 {
  font-size: 20px;
  line-height: 30px;
  color: var(--heading-color);
  font-weight: 600;
  margin-bottom: 6px;
}

@media only screen and (max-width: 1199px) {
  .classtype .col-xl-4 {
    display: none;
  }
  .classtype .col-xl-8 {
    width: 100%;
  }
}
/* //classtype */
/* number */
.count-title {
  font-size: 36px;
}

.counter {
  border-right: 1px solid var(--border-color-light);
}

p.count-text {
  text-transform: uppercase;
  color: var(--heading-color);
}
/* //number */
/* testimonial */

.testimonials_grid {
  background: var(--bg-color);
  border-radius: 4px;
  box-shadow: 0 20px 62px var(--box-shadow-color);
  padding: 2rem;
}

.sub-test q::before {
  font-size: 50px;
  color: var(--secondary-color);
  font-family: initial;
  line-height: 0.8;
  padding-top: 8px;
  display: inline-block;
}

.author__decs-left img {
  border-radius: 50%;
}

.author__decs-right h5 {
  font-weight: 600;
  line-height: 16px;
}
/* //testimonial */
/* instructors */
.team__cards {
  box-shadow: 0 20px 62px var(--box-shadow-color);
  padding: 10px;
  background: var(--bg-color-2);
  border-radius: 8px;
}

.team__top-img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.team__top-img img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.team__top-info {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100px);
  opacity: 0;
  margin: 0;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  transition: 0.5s all;
  width: 100%;
  text-align: center;
}

.team__cards:hover .team__top-info {
  opacity: 1;
  transform: translateY(0);
}
.team__cards:hover .team__bottom h5 a {
  color: var(--secondary-color);
}

.team__top-info a {
  background: #fff;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
}

.team__top-info a i {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 28px;
}

.team__bottom h5 a {
  color: #000;
}

.team__bottom p {
  font-size: 80%;
  font-weight: 400;
}

/* //instructors */
/* contact-2 */
h3.title-style {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}

.contact-2-left img {
  border-radius: 8px;
}
/* footer */

.footer-sub {
  padding: 80px 0;
  background: #060e1f;
}

.right-side {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--bg-color);
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

h4.title-head {
  font-size: 35px;
  line-height: 40px;
  color: var(--heading-color);
  font-weight: 600;
}

.main-midd p {
  font-size: 15px;
  color: var(--font-color);
  letter-spacing: 1px;
}

form.rightside-form input {
  background: transparent;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  color: var(--heading-color);
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid var(--border-color-light);
}

.rightside-form button {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}
.rightside-form button:hover {
  opacity: 0.9;
  color: #fff;
}

.sub-columns {
  margin-top: 120px;
}

.sub-one-left h6,
.sub-two-right h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.sub-two-right ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
}

.sub-two-right ul li a:hover,
.href1 a:hover,
.href2 a:hover {
  color: #fff;
}

.sub-two-right ul li span {
  margin-right: 10px;
  color: #fff;
  font-size: 10px;
}

.column2 i {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.column2 a {
  text-decoration: none;
  color: #cecece;
  line-height: 25px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.sub-one-left p,
.sub-two-right p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}

.ab-right-cont {
  border-left: 1px solid rgb(64 73 82 / 51%);
}

.columns-2 {
  margin-top: 1.2em;
}

.social li,
.jst-link li {
  display: inline-block;
  margin-right: 5px;
}

.social li a {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.social li i {
  line-height: 35px;
  text-align: center;
}

.social li a:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}
/* copy right */
.copyright-footer {
  background: #040a17;
  padding: 20px 0;
}
.columns p,
.columns p a {
  font-size: 15px;
  line-height: 20px;
  color: #a0a0a0;
}

/* //copy right */
/* //footer */

/* move top */
#movetop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 999;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  border-radius: 4px;
  padding: 0;
}

#movetop:hover {
  opacity: 0.8;
}
